body {
  background-color: rgb( 40, 40, 40);
  color: whitesmoke;
  font-family: Arial;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: wavy underline;
}

.game-board {
  display: grid;
  justify-content: center;
  padding: 10px 0;
}

.input-panel {
  padding: 8px;
}

.button {
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid white;
  width: 120px;
  height: 120px;
  margin-left: 20px;
  cursor: pointer;
}

.icon {
  max-height: 80px;
  
}

.result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset, .auto-play {
  background-color: white;
  border: none;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 15px;
  cursor: pointer;
}